<div class="card mb-3" STYLE="PADDING:24px">
    <img src="../assets/bmw.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">2023 BMW M340I XDrive LCI</h5>
      <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
 