<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" style="padding:30px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a href="#" routerLink="/home">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>

<div class="card mb-3" STYLE="PADDING:24px">
    <img src="../assets/bmw.jpeg" class="card-img-top" alt="...">
    
    <div class="card-body">
      <h1 class="card-title">2023 BMW M340I XDrive LCI</h1>
      <h4 style="color: lawngreen">R1 400 000</h4>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
 